@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
html,
body {
  padding: 0!important;
  margin: 0!important;
    color: white!important;
    background-color: #121212!important;
    font-family: 'Sarabun', sans-serif!important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav,
.navbar {
  align-items: left !important;
  justify-content: center !important;
  background-color: #121212 !important;
}