
.main {
  padding-top: 0 !important;
  padding-bottom: 5rem 0!important;
  padding-right: 5rem 0!important;
  padding-left: 5rem 0!important;
  flex: 1!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center;
  align-items: center;
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0!important;
  line-height: 1.15!important;
  font-size: 4rem!important;
}

.title,
.description,
.button {
  text-align: center !important;
}

.description {
  line-height: 1.5!important;
  font-size: 1.5rem!important;
}

.code {
  background: #fafafa!important;
  border-radius: 5px!important;
  padding: 0.75rem!important;
  font-size: 1.1rem!important;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace !important;
}

.grid {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-wrap: wrap!important;
  max-width: 800px!important;
  margin-top: 3rem!important;
}

.card {
  margin: 1rem!important;
  padding: 1.5rem!important;
  text-align: left!important;
  color: inherit!important;
  text-decoration: none!important;
  background-color: #341c8b!important;
  border-radius: 10px!important;
  transition: color 0.15s ease, border-color 0.15s ease!important;
  width: 45%!important;
}

.card:hover {
  margin: 1rem!important;
  padding: 1.5rem!important;
  text-align: left!important;
  color: inherit!important;
  text-decoration: none!important;
  background-color: #2e1782!important;
  border-radius: 10px!important;
  transition: color 0.15s ease, border-color 0.15s ease!important;
  width: 45%!important;
}

.card:active {
  margin: 1rem!important;
  padding: 1.5rem!important;
  text-align: left!important;
  color: inherit!important;
  text-decoration: none!important;
  background-color: #26136d!important;
  border-radius: 10px!important;
  transition: color 0.15s ease, border-color 0.15s ease!important;
  width: 45%!important;
}


.card h2 {
  margin: 0 0 1rem 0!important;
  font-size: 1.5rem!important;
}

.card p {
  margin: 0!important;
  font-size: 1.25rem!important;
  line-height: 1.5!important;
}

.logo {
  height: 1em!important;
  margin-left: 0.5rem!important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%!important;
    flex-direction: column!important;
  }
}

.top {
  color: white!important;
  margin: 0px !important;
  padding: 100px!important;
width: 100%!important;
height: 100%!important;
background: rgb(0,144,255)!important;
background: -moz-linear-gradient(90deg, rgba(0,144,255,1) 0%, rgba(0,0,176,1) 35%, rgba(255,0,203,1) 100%)!important;
background: -webkit-linear-gradient(90deg, rgba(0,144,255,1) 0%, rgba(0,0,176,1) 35%, rgba(255,0,203,1) 100%)!important;
background: linear-gradient(90deg, rgba(0,144,255,1) 0%, rgba(0,0,176,1) 35%, rgba(255,0,203,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0090ff",endColorstr="#ff00cb",GradientType=1)!important;

}

.button {
  padding: 12px 18px!important;
  border: none!important;
  outline: none!important;
  background-color: #141414!important;
  border-radius: 15px 15px 15px 15px!important;
  color: #ffffff!important;
  font-size: 15px!important;
  cursor: pointer!important;
  line-height: 1.5!important;
  font-size: 1rem!important;
  font-family: 'Poppins', sans-serif!important;
}

.button:hover {
  padding: 12px 18px!important;
  border: none!important;
  outline: none!important;
  background-color: #1d1919!important;
  border-radius: 15px 15px 15px 15px!important;
  color: #ffffff!important;
  font-size: 15px!important;
  cursor: pointer!important;
  line-height: 1.5!important;
  font-size: 1rem!important;
}

.button:active {
  padding: 12px 18px!important;
  border: none!important;
  outline: none!important;
  background-color: #221c1c!important;
  border-radius: 15px 15px 15px 15px!important;
  color: #ffffff!important;
  font-size: 15px!important;
  cursor: pointer!important;
  line-height: 1.5!important;
  font-size: 1rem!important;
}